body {
    background-image: url("background.jpg");
    background-size: 100% 100vh;
    background-repeat:no-repeat;
    background-position: absolute;
    background-attachment: fixed;
    color: white;
}
nav li:hover {
    background-color: darkslategray;
}
nav ul li {
    display: block;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin: 5px;
    margin-left: -34px;
    padding: 2px;
    padding-right: 4px;
    background-color: black;
}
nav ul {
    position: relative;
    float: right;
    border: 1px solid black;
    margin-right: 40px;
    background-color: gray;
}
nav a {
    text-decoration: none;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px
}
nav ul li.top {
    background-color: darkgray;
}
nav ul li.top a {
    color: black;
    font-size: 16px
}

div.mylist{
    position: fixed;
    background-color:gray;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}
div.mylist li{
    margin-left: -30px;
    margin-right: 10px;
    background-color:black;
    padding-left: 2px;
}
div.mylist ul li.title{
    display: block;
    padding: 2px;
    margin: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color:darkgray;
    color:black;
}
div.mylist ul, ol {
    padding: 5px;
    padding-left: 30px;
    margin-bottom:-15px;
    margin-top: 0px;
}
div.mylist ul.sublist{
    margin:0;
}
div.mylist ul.bottomlist {
    margin-bottom:20px;
}
.htmltable {
    margin-right: 1%;
    position: relative;
}
div.htmltable table {
    background-color: gray;
    color:black;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding: 2px;
}
div.htmltable th, div.htmltable td {
    border: 1px solid black;
    padding: 5px;
    width: 20%;
}
div.htmltable th {
    text-align: center;
    background-color:darkgray;
}
div.htmltable td {
    background-color:black;
    color:white;
}
div.htmltable tr{
    border-right-style: solid;
    border-right-width: 3px;
    border-right-color: black;
    border-left-style: solid;
    border-left-width: 3px;
    border-left-color: black;
}
.dashboardoutlay {
    display: flex;
    flex-direction: row;
}

.NBSA {
    margin-top: 5px;
    width: 600px;
    height: 30px;
}

.progress-bar {
    background-color: whiteSmoke;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
}

.progressoutlay {
    position: relative;
    display: flex;
    border: 3px solid gray;
    border-right-width: 6px;
    border-bottom-width: 4px;
    width: fit-content;
    height: fit-content;
    padding: -3px;
    background-color: gray;
    border-top-width: 0px;
}

progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
     appearance: none;
  
    width: 600px;
    height: 20px;
  }
progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
progress[value]::-webkit-progress-value {
    background-image:
         /* -webkit-linear-gradient(top, 
                                 rgba(255, 255, 255, .25), 
                                 rgba(0, 0, 0, .25)), */
         -webkit-linear-gradient(left, red, orange, green);
  
      border-radius: 2px; 
      background-size: 40%;
      background-attachment: fixed;
}

.progressoutlay:hover .progressvalue{
    display: block;
}

.progressvalue {
    display: none;
    border: 3px solid gray;
    border-bottom-width: 0px;
    border-top-width: 6px;
    border-right-width: 0px;
    padding-left: 3px;
    padding-right: 3px;
    background-color: lightgray;
    color: black;
}

.htmltable .EC th {
    background-color: black;
    color: white;
}

.htmltable .EC td {
    background-color: darkgray;
    color: black;
}

.htmltable .voldoende td{
    background-color: darkgreen;
}

.htmltable .onvoldoende td {
    background-color: darkred;
}

.studiewijzer {
    background-color: gray;
    border: 1px solid black;
    color: black;
    padding: 4px;
    text-align: center;
    margin-top: 3px;
}

.studiewijzerlijst {
    display:flex;
    flex-direction: column;
    margin-bottom: 0px;
}

.studiewijzer .studiewijzerlijst a {
    text-decoration: none;
    color: black;
    color: white;    
}

.studiewijzer .studiewijzerlijst li {
    margin: 2px;
    margin-left: -35px;
    border: 1px solid black;
    display: block;
    background-color: black;
}

.studiewijzertop {
    border: 1px solid black;
    background-color: darkgray;
    margin: 3px;
    margin-top: 3px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: -10px;
}

.HBO-ICT {
    width:fit-content;
    position: fixed;
}
.HBO, .ICT {
    background-color: gray;
    border: 1px solid black;
    width: fit-content;
    margin: 5px;
}

.ICT ul, .HBO ul {
    margin: -10px 15px 10px 15px;
    padding: 0px 10px 0px 0px;
}

.ICT li, .HBO li {
    background-color: black;
    margin: 5px 0px 0px 5px;
    padding: 0px 5px;
}

.HBO-ICT h2 {
    border: 1px solid black;
    color: black;
    margin: 15px 20px;
    background-color: darkgray;
}